.edit-out {
    border: 0;
    margin: 0;
    padding: 0;
}

.white-background {
    background-color: #fff;
}

.max-width {
    width: 100%;
}

.button-style {
    background-color: #4aaaa5; 
    color: #fff; 
    opacity: 1; 
    border-color: transparent;
}

h3 {
    color: #4aaaa5;
}

.text-position {
    position: relative; 
    bottom: 50px; 
    background-color: #4aaaa5; 
    color: #fff; 
    width: 250px; 
    padding: 8px;
}

#my-picture {
    border: none;
}

.image-size {
    width: 250px; 
    height: 200px;
}

.footer {
    border: 0; 
    margin: 0; 
    padding: 0; 
    top: 287px;
    position: relative;
    width: 100%;
}

body {
    margin-bottom: 60px;
}
.footer-style {
    background-color: #666;
    color: black;
    border-top: 10px solid #4aaaa5;

}